   {% include 'components/html-header.twig' %}
	<body class="{{body_class}}" data-template="base.twig">

      <div id="home">
         {% include 'components/header.twig'%}
         <div class="container" id="intro">
               <div class="col-7 col-12-sm">
                  <h2>A place in the web for your company!</h2>
                  <a href="#footer">Contact!</a>
               </div>
         </div>
      </div>
      {% include 'components/customer.twig' %}
      {% include 'components/about.twig' %}
      {% include 'components/contact.twig' %}
      <footer>
         <div class="container" id="footer">
            {% include 'components/footer.twig' %}
         </div>
      </footer>

      {{ function('wp_footer') }}
      <script src="{{site.theme.link}}/static/js/site.js"></script>
	</body>
</html>
