<div class="container" id="about">
   <div class="col-8">
      <div>
         <img src="{{ site.theme.link }}/static/img/world.png" height="100" width="100">
         <p>over  +10 countries around World</p>
      </div>
      <div>
         <img src="{{ site.theme.link }}/static/img/building.png" height="100" width="100">
         <p>+40 offices</p>
      </div>
      <div>
         <img src="{{ site.theme.link }}/static/img/people.png" height="100" width="100">
         <p>Over 2 800 employers</p>
      </div>
   </div>
   <div class="col-8" id="history">
      <div>
         <h2>About Us</h2>
         <p>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Tempore magnam deleniti odit tenetur quasi 
            reprehenderit repellendus dolorum nihil recusandae, nesciunt voluptates dolorem dolore nostrum aliquam.
            Asperiores ipsa fuga nobis ea repellendus dolorum nihil, recusandae nsectetur.
         </p>
      </div>
      <div>
         <img src="{{site.theme.link}}/static/img/office.jpg" width="300" height="300">
      </div>
   </div>
</div>