<div class="container" id="customer">
    <div class="col-4 col-sm-12">
        <img src="{{site.theme.link}}/static/img/customer1.jpg" width="220" height="220">
        <h4><strong>Luisa Whitehorse</strong></h4>
        <p>"Amazing company!
            Accusantium cumque autem quam,
            vero unde nulla soluta amet ipsa deleniti maxime cupiditate."
        </p>
    </div>
    <div class="col-4 col-sm-12">
        <img src="{{site.theme.link}}/static/img/customer2.jpg" width="220" height="220">
        <h4><strong>Jack Jackman</strong></h4>
        <p>"Now my business is noticed online.
            Architecto, reprehenderit maxime. 
            Doloremque ab architecto ut possimus quidem!"</p>
    </div>
    <div class="col-4 col-sm-12">
        <img src="{{site.theme.link}}/static/img/customer3.jpg" width="220" height="220">
        <h4><strong>Mary Stella</strong></h4>
        <p>"THIS SITE IS AMAZING!
            Lorem ipsum, dolor sit amet consectetur adipisicing elit."
        </p>
    </div>
</div>